@import url('https://fonts.googleapis.com/css2?family=Tinos&family=Yantramanav:wght@400;500&display=swap');
/* font-family: 'Tinos', serif;
font-family: 'Yantramanav', sans-serif; */


/* Navigation */
.nav {
    background: #312929;
    height: 4vh;
    color: white;
    height: 48;
	width: 100%;
	color: white;
	padding: 6px 10px;
	display: flex;
    background: #312929;
}
ul
{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    text-align: center;
    color: white; 
    color: #FFFFFF;
}
li{
    list-style-type: none;
}
a
{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.1rem;
}
a:hover
{
    color:  #BB7043;
}
/*   HOME PAGE */
.first_home{
    background: url(../src/img/bar_1.jpg)center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
}
#info_classic h1
{
    font-size: 6rem;
    letter-spacing: 10px;
    word-spacing: 30px;
    font-weight: 900;
}
#info_classic h2
{
  margin-left: 15%;
  font-size: 4rem;
  letter-spacing: 10px;
    
}
.secound{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh ;
    background: #212121;
}

.secound-info
{
   
    margin-left: 25% ;
    margin-top: 45%;
   
   
    
    
}
#the-srory
{
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 400;
    word-spacing: .1px;
     font-family: Roboto;
     color: #fff;
     font-style: normal
}

#gin-text{
    font-size: 1.2rem;
    width: 90%;
    text-transform: none;

    
}

#secound-img_home
{
    background: url(../src/img/bar2\ 1.jpg)center/cover no-repeat;
    margin-top: 15%;
    margin-left: 17%; 
    width: 1073px;

}

button{
    background: #bb7043;
    width: 40%;
    height: 4vh;   
}

  .about {

   
    min-height: 100vh;
   background: #212121;
    background-position: right;
    background-size: 55%;
    background-repeat: no-repeat;
   
    
  }
  .about p {
    font-size: 1.3rem;
    margin-bottom:3vh;
    width:70%;
    
   
  }
  
  #menu {
    background-image: url(../src/img/Rectangle\ \(1\).png);
    width: 100%;
    
    
  }
  #text p:nth-last-of-type(1)
  { margin-left: 35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top:-5%
  }
  #text p:nth-last-of-type(2)
  {
    color: #FFFFFF;
    margin-left: 35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase; 
    
  }
  #text {
    width:65%;
    padding:25vh ;
    margin-left: -19%;
    
  } 
  #hand {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 3.5rem;
    margin: 5vh auto;
    width: 70%;
    margin-left: 35%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding-bottom: 1%;
    font-family: 'Yantramanav', sans-serif;
    font-size: 84px;
    line-height: 84px;
     
  }
  
  #btn
  {
    background: #bb7043;
    width: 12%;
    height: 4vh;
    margin-left: 34%;
  }


















/* Body Contact page */

.firstcont_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #BB7043
}

#cont_img1{
    background-image: url(../src/img/Rectangle.jpg) ;
    width: 100%;
    height: 60vh;
}
#cont_info1
{
    margin-left: 37%;
    margin-top: 15%;
}
h1{
   
    font-family: Roboto;
font-size: 84px;
font-style: normal;
font-weight: 400;
line-height: 84px;
letter-spacing: 0.5px;
text-align: left;
color: #fff;
margin-top: -2%
}
#text_p
{
font-family: Roboto;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
width: 60%;
margin-top: -5%;

}
.earth_img
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../src/img/Rectangle2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1013px;
}

#earth_img_p
{
    background: #C4C4C4;
  
width: 700px;
height: 300px;
font-size: 83px;
text-align: center;
padding-top: 3%;
}
.section3
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #BB7043;
    width: 1920px;
    height: 815px;
}

.info_section3{
    margin-left: 30%;
    margin-top: 17%;
}

#Operation
{
    text-transform: uppercase;
}
.Hours
{
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    margin-top: -3%;
    
}


#York{
font-family: Roboto;
font-size: 47px;
font-style: normal;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
margin-left: -2%;
margin-top: -2%;
color: #fff;
text-transform: none;

}
#p-earth
{
font-family: Roboto;
font-size: 24px;
letter-spacing: 0.5px;


}

form
{
    margin-left: 15%;
    margin-top: 20%;
}
#Name_id, #email_id, #mobile_id
{
    width: 750px;
    height: 50px;
    font-family: Roboto;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}

#massege_id
{
    width: 750px;
    height: 266px;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

#submit_id
{
    width: 192px;
    height: 60px;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    background: #212121;
    color: #fff;
    text-align: center;

}
/* footer */

 #footer_img {
      background-image: url(../src/img/Group_3.png);
      background-repeat: no-repeat;
      width: 50%;
      height: 40vh;
      margin-top: 5%;

   
  } 
  .Hours_footer
{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    color: #fff;
    font-family: Roboto;
    font-size: 10px;
    margin-top: -3%;
   
}

#find_us
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

color: #FFFFFF;
}
  article
  {
    padding: 5vh 10%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    text-transform: uppercase;
    color: white;
   
 
  }
  .footer
  {
    background:#212121;
  }
  h3
  {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #BB7043;

    
  }
 

#footer_img2
{
    position: relative;
    left: 31.59%;
}
#facebook
{
    position: absolute;
    left: 80%;
    margin-top: -10%;
}
 #instgram
 {
    position: absolute;
    left: 83%;
    margin-top: -10%; 
 }
 footer
 {
    border-top: 0.1px solid grey;
    margin-top: -9%;
 }

/*  SHOP */
.shop_img
{
    background-image: url(../src/img/SHOP1.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 889px

}
.shop_coming
{
    background: #BB7043;
    height: 1269px;
}
 
#coming_h1
{
  position: absolute;
width: 1253px;
height: 18px;
left: 393px;
top: 1602px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8.6rem;
line-height: 18px;
letter-spacing: 0.3px;
text-transform: uppercase;
color: #000000;

}

/* jazzBarDJ section und Card Style */
.info_jazz {
    background:#BB7043;
    min-height: 90vh;
    color: #212121;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 8vh 9rem;
  }
  #covid_text
  {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 8vh 9rem;
    margin-left: 3%;
  }
  

#date {
    width:30%;
    margin-bottom: 10vh;
  }
  
  .date {
  text-transform: uppercase;
  color:#fff;
  font-weight: 400;
  margin-top:1vh;
  }
  
  .time {
    text-transform: uppercase;
    color:#fff;
    font-weight: 400;
    margin-bottom:2vh;
    
    }
   
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
  }
  
 #date h3 {
   
    font-weight: 300;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-transform:none;
    text-align: center;
    color: #FFFFFF;  
  }
  
  #cards {
    display:flex;
    justify-content: center;
  }

  /* Trink Section und Card2 Style */

#card2{
  width:50%;
  text-align: center;
  border: 0.1px solid grey;
  color:white;
  padding-bottom: 5vh;
  background: #212121;
}


.text{
font-size: 2rem;
margin: 4vh 5%;
}

#Trink{
  display:flex;
}

#card2 div {
  margin-top:3vh;
  display:flex;
  justify-content: flex-end;
  margin-right:3%;
  
}

#instagramIcon {
  width: 30px;
  
}

.text2 {
text-transform: uppercase;
font-weight: 300;
}